<!DOCtype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type ="text/javascript" src = "{{ url_for('static', filename = 'hello.js')}}"></script>
</head>
<style>
</style>
<body>
<div class="container">
  <br><br>
  <form action = "/setcookie" method="POST">
    <p><h3>Enter User ID</h3></p>
    <p><input type="text" name ="nm"></p>
    <p><input type="submit" name ="Login"></p>
</div>
</body>
</html>
