<!DOCtype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type ="text/javascript" src = "{{ url_for('static', filename = 'hello.js')}}"></script>
</head>
<style>
</style>
<body>
<div class="container">
  <br><br>
  'Web templating system' refer to designing an HTML script in which the variable data can be inserted dynamically. <br>
  Here I will provide you some gists for your understanding of Flask.
  <br><br>
  <input type = "button" onclick = "sayHello()" value = "Say Hello">
  html head 부분에 src 경로를 하드코딩하지 않고,<br>
  url_for를 통해 폴더명, 불러올 파일명도 지정할 수 있다.
</div>
</body>
</html>
